.Skills-container {
    margin-top: 87.26px;
    font-family: 'Mina', sans-serif;

    background: linear-gradient(-45deg, #ce4318, #693ce7, #23A6D5, #23D5AB);
	background-size: 400% 500%;
	-webkit-animation: Gradient 25s ease infinite;
	-moz-animation: Gradient 25s ease infinite;
	animation: Gradient 25s ease infinite;
}

.skills {
    max-width: 20rem;
    font-size: 55px;
    background-color: inherit;
}


.skills-image {
    border-radius: 15px;
    border: 2px solid #73AD21;
    width: 100%;
    height: 100%;
}

.skills-icon-image {
    width: 100%;
    height: 12vw;
    object-fit: contain;
}

@media (max-width: 1000px) {
    .skills-icon-image {
        width: 100%;
        height: 40vw;
        object-fit: contain;
    }
}

.card-header {
    font-size: 30px;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
