.Contact-container {
    margin-top: 87.26px;
}

.contact-title {
    color: #009eda !important;

}

.fabs {
    font-size: 170px;
    margin-right: 20px;
}

.icon-row {
    margin-top: 200px;
}

@media (max-width: 1050px) {
    .icon-list {
        margin-left: 150px;
        margin-bottom: 15px;
    }
    .icon-row {
        margin-top: 50px;
    }
}
