.projects-container {
    background-image: url(./Images/welcomebackground.jpg);
    background-repeat: round;
    background-attachment: fixed;
    background-size: cover;
}
.card {
    max-width: 20rem;
    align-content: space-between;
}

.cards-center {
    align-items: flex-end;
    padding: 15px;
}

a {
    text-decoration: none;
    color: white !important;
}
