.Welcome-Container{
    background-image: url(./Images/welcomebackground.jpg);
    background-repeat: round;
    background-attachment: fixed;
    background-size: cover;
    height: 475px;
}

#welcome {
    font-size: 175px !important;
    text-align: center;
    margin-top: 175px;
    font-family: 'Oleo Script Swash Caps', cursive;

}

.words {
    text-align: center;
}

@media (max-width: 1000px) {
    #welcome {

    }
}
