.Aboutme-container {
    margin-top: 87.26px;
    margin-bottom: 80px;
}

.About-title {
    color: #009eda !important;
    font-size: 55px;
}

.About-Ashley {
    margin-left: 55px;
    color: white;
    font-size: 40px;
    font-family: 'Pattaya', sans-serif;
}

.Aboutme-text {
    font-size: 20px;
    text-align: left;
    text-align: justify;
    margin: 0 30px 0 55px;
    font-family: 'Mina', sans-serif;
}

.aboutMe-margin {
    margin-top: 55px;
}

.profile-pic {
    border-radius: 15px;
    border: 2px solid #009eda;
    width: 375px;
    height: 550px;
    margin-left: 35px;
}

p {
    text-align: center;
    color: white;
}

@media (max-width: 1000px) {
    .profile-pic {
        margin-left: 65px;
    }
}
