.Aboutme-container {
    margin-top: 87.26px;
    margin-bottom: 80px;
}

.About-title {
    margin-top: 20px;
    margin-left: 30px;
    color: #009eda;
    font-size: 55px;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.About-Ashley {
    margin-left: 55px;
    color: white;
    font-size: 40px;
    font-family: 'Pattaya', sans-serif;
}

.Aboutme-text {
    font-size: 20px;
    text-align: left;
    text-align: justify;
    margin: 0 30px 0 55px;
    font-family: 'Mina', sans-serif;
}

.aboutMe-margin {
    margin-top: 55px;
}

.profile-pic {
    border-radius: 15px;
    border: 2px solid #009eda;
    margin-left: 65px;
    width: 20vw;
    height: 30vw;
}

.seperate {
    background-color: #acb5be;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    text-align: center;
    color: white;

}
